<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!--PEC-->
        <add key="ImapServer" value="imaps.cert.trenitalia.it" />
        <add key="SmtpServer" value="62.149.152.18" />
        <add key="PasswordSmtpPassword" value="Novembre2010" />
        <add key="SmtpServerUser" value="super.testti@cert.trenitalia.it" />
        <add key="AppaltatoriCancellaMessaggi" value="true" />
        <add key="IsTraceEnabled" value="false" />
    </appSettings>
</configuration>