[Oo]bj
[Bb]in
*.user
*.suo
*.[Cc]ache
*.bak
*.ncb
*.log 
*.DS_Store
[Tt]humbs.db 
_ReSharper.*

# Ignore NCrunch cache files.
*.crunchproject.local.xml
*.crunchsolution.local.xml
packages
Documentation\Specs
Documentation/Specs/
Framework/EasyNetQ/
Framework/Specs/Toxicity/_UpgradeReport_Files
Framework/Specs/Toxicity/tools
lib/Reflector
