
# Les ligne commençant par '#' sont des commentaires.
# Ignorer tous les fichiers nommés foo.txt
#foo.txt
# Ignorer tous les fichiers html
#*.html
# à l'exception de foo.html qui est maintenu à la main
#!foo.html
# Ignorer les objets et les archives
#*.[oa]

*.suo
packages/**/*
Super/**/bin/**/*
Super/**/obj/**/*
packages/**/*
packages/repositories.config