
<#@ assembly name="D:\Projects\Super2013\Framework\DSL\GenerationDTO.Core\bin\Debug\Super.DSL.GenerationDTO.Core.dll" #>
<#@ import namespace="Super.DSL.GenerationDTO.Core" #><#+
void BuildProp(ObjectDTO evt)
	{
	foreach (var property in evt.Properties)
        {
			#> 
		public <#= property.Type #> <#= property.GetPascalCasedName() #> { get; set;}<#+

        }
	}

#>