<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="keywords" content="" />
<meta name="description" content="" />
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>EarthlingTwo by Free CSS Templates</title>
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<h1><a href="#">$DocumentationName</a></h1>
			<p>by Papeete Consulting</p>
		</div>
	</div>
	<!-- end #header -->
	<div id="menu">
		<ul>
		#foreach($boundedContext in $boundedContexts)
			#if($boundedContext.Name==$currentBoundedContext.Name)
				<li><a  class="current_page_item" href="$boundedContext.GetPageUrl()">$boundedContext.Name</a></li>
			#else
				<li><a href="$boundedContext.GetPageUrl()">$boundedContext.Name</a></li>
			#end
		#end
		</ul>
	</div>
	<!-- end #menu -->
	<div id="page">
		<div id="content">
		    <div id="banner"><img src="images/img07.jpg" alt="" /></div>

			
            #if ($scenari.Count()>0)
            <div class="post">
			    <h2 class="title"><a href="#">Scenari</a></h2>
		        <p class="meta">elenco degli scenari per  $currentScenarioPack.Name </p>
		        <div class="entry">
		            <ul>
					#foreach($scenario in $scenari)
						<li><a href="$currentScenarioPack.GetPageUrl()#$scenario.Title">$scenario.Title</a></li>
					#end
		            </ul>
		        </div>
		    </div>
			#end
			<div class="post">
				
				#foreach($scenario in $scenari)
					<h2 class="title"><a name="$scenario.Title">$scenario.Title</a></h2>
                    #if ($scenario.Description != "")
					<p class="meta">$scenario.Description</p>
                    #end
					<div class="entry">
                    
                    #if ($scenario.Given && $scenario.Given.Count()>0)
					<p>
					Dato che
					#foreach ($given in $scenario.Given)
						$given.Description &nbsp;<a class="more" title="$given.Details"></a>
					#end
					</p>
                    #end

					<p>
					Quando 
						$scenario.When.Description &nbsp;<a class="more" title="$scenario.When.Details"></a>
					</p>
					<p>
					Allora
                    <ul class="expect">
					#foreach ($then in $scenario.Then)
						<li>&nbsp; $then.Description  &nbsp;<a class="more" title="$then.Details"></a></li>
					#end
                    </ul>
                    </p>
					</div>
				#end
			</div>
			
			<div style="clear: both;">&nbsp;</div>
		</div>
		<!-- end #content -->
		<div id="sidebar">
			<ul>
				<li>
					#if ( ! $currentScenarioPack )
					<h2> $currentScenarioPack.Name</h2>
					<p>$currentScenarioPack.Description</p>
					#end
				</li>
				<li>
				
					<h2>Categories</h2>
					<ul>
					#foreach($scenarioPack in $scenariPack)
						#if($scenarioPack.Name!=$currentScenarioPack.Name)
							<li><span>$scenarioPack.Scenari.Count()</span><a href="$scenarioPack.GetPageUrl()">$scenarioPack.Name</a></li>
						#end
					#end
					</ul>
				
				</li>
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both;">&nbsp;</div>
	</div>
	<!-- end #page -->
</div>
<div id="footer-content">
	<div class="column1">
		<h2>Volutpat quisque sed et aliquam</h2>
	    <p><strong>Maecenas ut ante</strong> eu velit laoreet tempor accumsan vitae nibh. Aenean commodo, tortor eu porta convolutpat elementum.
	        Proin fermentum molestie erat eget vehicula. Aenean eget tellus mi. Fusce scelerisque odio quis ante bibendum sollicitudin.
             Suspendisse potenti. Vivamus quam odio, facilisis at ultrices nec, sollicitudin ac risus. Donec ut odio ipsum, sed tincidunt. <a href="#">Learn more&#8230;</a></p>
	</div>
	<div class="column2">
		<ul class="list">
			<li><a href="#">Tempor accumsan vitae sed nibh dolore</a></li>
			<li><a href="#">Aenean commodo, tortor eu porta veroeros</a></li>
			<li><a href="#">Fermentum molestie erat eget consequat</a></li>
			<li><a href="#">Donec vestibulum interdum diam etiam</a></li>
			<li><a href="#">Vehicula aenean eget sed tellus blandit</a></li>
		</ul>
	</div>
</div>
<div id="footer">
	<p> (c) 2009 Sitename.com. Design by <a href="http://www.nodethirtythree.com">nodethirtythree</a> and <a href="http://www.freecsstemplates.org">Free CSS Templates</a>.</p>
</div>
<!-- end #footer -->
</body>
</html>
