<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
      <add name="Super2013.Contabilita" connectionString="metadata=res://*/ReadModel.csdl|res://*/ReadModel.ssdl|res://*/ReadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MCBERNIQUE\SQLEXPRESS;initial catalog=Super2013;persist security info=True;user id=sa;password=yogolo49;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /><add name="AppaltatoreContainer" connectionString="metadata=res://*/Appaltatore.csdl|res://*/Appaltatore.ssdl|res://*/Appaltatore.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MCBERNIQUE\SQLEXPRESS;initial catalog=Super2013;persist security info=True;user id=sa;password=yogolo49;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>