<#@ template  debug="true" hostSpecific="true" #>
<#@ assembly name="D:\Projects\Super2013\Framework\DSL\GenerationDTO.Core\bin\Debug\Super.DSL.GenerationDTO.Core.dll" #>
<#@ include  file="D:\Projects\Super2013\Framework\DSL\GenerationDTO.Commands\TCmdWrapper.tt"#>
<#@ import namespace="Super.DSL.GenerationDTO.Core" #>
<#
	string json = System.IO.File.ReadAllText( System.IO.Path.GetDirectoryName(this.Host.TemplateFile) + "\\Super.Programmazione.Commands.Intervento.json");  	
	DTOWrapper wrapper = JsonConvert.DeserializeObject<DTOWrapper>(json);
	 
	BuildCmds(wrapper);
#>