
<#@ assembly name="D:\Projects\Super2013\Framework\DSL\GenerationDTO.Core\bin\Debug\Super.DSL.GenerationDTO.Core.dll" #>
<#@ import namespace="Super.DSL.GenerationDTO.Core" #><#+
void BuildProperties(ObjectDTO cmd)
	{
	foreach (var property in cmd.Properties)
        {
			#> 
		private <#= property.Type #>  <#= property.GetPrivateName() #> ;<#+

        }
	}

#>