<?xml version="1.0"?>
<configuration>
    <system.serviceModel>
        <bindings />
        <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
        <client>
            <endpoint address="http://localhost:1338/CommandService" binding="basicHttpBinding"
                contract="Cqrs.CommandService.Contracts.ICommandWebService"
                name="CommandWebServiceClient" />
        </client>
        <behaviors>
            <serviceBehaviors>
                <behavior name="withMetadataAndDebugging">
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                    <serviceMetadata httpGetEnabled="true"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
