<#@ template  debug="true" hostSpecific="true" #>
<#@ assembly name="D:\Projects\Super2013\Framework\DSL\GenerationDTO.Core\bin\Debug\GenerationDTO.Core.dll" #>
<#@ include  file="D:\Projects\Super2013\Framework\DSL\GenerationDTO.Commands\TModelWrapper.tt"#>
<#@ import namespace="Super.DSL.GenerationDTO.Core" #>
<#
	string json = System.IO.File.ReadAllText( "D:\\Projects\\Super2013\\Super\\Controllo\\Commands\\Programmazione\\Super.Controllo.Commands.Programmazione.json");  	
	DTOWrapper wrapper = JsonConvert.DeserializeObject<DTOWrapper>(json);
	 
	BuildModels(wrapper);
#>