@{
    ViewBag.Title = "test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>
    Interventi</h2>
<div data-bind='template: "interventoListTemplate"'>
</div>
<div id="AddIntervento">
    test
</div>
<p>
    <a data-bind="click: GetInterventi" href="#">Visualizza</a> 
    <a data-bind="click: AddIntervento" href="#">Aggiungi</a>
    <input type="button" id="my-button" value="Add" />
</p>
<div id="dialog" title="Create Album" style="overflow: hidden;">
</div>
<script type="text/html" id="interventoListTemplate">
    <table>
            <tr>
                <th>
                </th>
                <th>
                    CreationDate
                </th>
                <th>
                    Inizio
                </th>
                <th>
                    Fine
                </th>
                <th>
                    Eseguito
                </th>
                <th colspan="1">
                    Azione
                </th>
            </tr>
        {{each Interventi}}
         <tr>
            <td>
                ${InterventoId}
            </td>
            <td>
              ${CreationDate}
            </td>
            <td>
               ${Inizio}
            </td>
            <td>
               ${Fine}
            </td>
            <td>
               ${IsEseguito}
            </td>
             <td>
               <a data-bind="click: Eseguire" href="#">Eseguire</a>
            </td>
        </tr>
        {{/each}}
        </table>
</script>
<script language="javascript">


//    $(function () {
//        

//        $('#my-button').click(function () {
//            $('#dialog').dialog('open');
//        });
//    });




        function ToDate(value) {
            return new Date(parseInt(value.replace("/Date(", "").replace(")/", ""), 10));
        }

        function Eseguire(command) {
            alert(command.InterventoId);

            $.ajax({
                type: 'Post',
                url: '/InterventoRotabile/Eseguire',
                data: JSON.stringify(command),
                contentType: 'application/json; charset=utf-8',
                success: function (data) {
                    ViewModel.GetInterventi();
                },
                dataType: 'json'
            });
        }


        //Model
        var EseguireIntervento = function (id, dataEsecuzione) {
            this.InterventoId = id;
            this.DataEsecuzione = dataEsecuzione;
        }

        var intervento = function (data) {
            var self = this;
            this.InterventoId = ko.observable(data.Guid);
            this.CreationDate = ko.observable(ToDate(data.CreationDate)),
            this.Inizio = ko.observable(ToDate(data.Inizio)),
            this.Fine = ko.observable(ToDate(data.Fine)),
            this.IsEseguito = ko.observable(data.IsEseguito)
            this.Eseguire = function () {
                Eseguire(new EseguireIntervento(self.InterventoId(), new Date()));
            };
        }

        //ViewModel
        var InterventoViewModel = function () {
            var self = this;

            this.Interventi = ko.mapping.fromJS([]);

            this.GetInterventi = function () {
                $.ajax({
                    type: 'GET',
                    url: '/InterventoRotabile/GetInterventi',
                    context: this,
                    success: function (data) {
                        self.SuccessfullyRetrievedModelsFromAjax(data);
                    },
                    dataType: 'json'
                });
            };
            this.AddIntervento = function () {
                   
                    $('#dialog').dialog({
                        autoOpen: false,
                        width: 400,
                        resizable: false,
                        title: 'hi there',
                        modal: true,
                        open: function(event, ui) {
                            //Load the CreateAlbumPartial action which will return 
                            // the partial view _CreateAlbumPartial
                            $(this).load("@Url.Action("Add")");
                        },
                        buttons: {
                            "Close": function () {
                                $(this).dialog("close");
                            }
                        }
                    });
                    $('#dialog').dialog('open');
             };

            this.SuccessfullyRetrievedModelsFromAjax = function (models) {
                self.Interventi.removeAll();
                ko.utils.arrayForEach(models, function (model) {
                    self.Interventi.push(new intervento(model));
                });
            };
        };

        var ViewModel = new InterventoViewModel();
        ko.applyBindings(ViewModel);

        ViewModel.GetInterventi();

        
        


</script>
