<?xml version="1.0"?>
<configuration>
    <connectionStrings>
      <!--MERCURIO\SQLSERVER2008-->
      <!--<add name="EventStore" connectionString="mongodb://localhost/eventStore"/>-->
        <add name="EventStore"  providerName="System.Data.SqlClient" connectionString="Data Source=MERCURIO\SQLSERVER2008;Initial Catalog=Super2013.Contabilita.EventStore;Persist Security Info=True;User ID=sa;Password=yogolo49"></add>
        <add name="Super2013" connectionString="metadata=res://*/ReadModel.csdl|res://*/ReadModel.ssdl|res://*/ReadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=MERCURIO\SQLSERVER2008;initial catalog=Super2013;persist security info=True;user id=sa;password=yogolo49;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
        
    

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings/>
        <services>
            
            <service name="CommandService.CommandWebService" >
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1338/Contabilita"/>
                    </baseAddresses>
                </host>
                <endpoint address=""
                          binding="basicHttpBinding"
                          contract="CommandService.ICommandWebService"/>
                <endpoint address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="True"/>
                    <serviceDebug includeExceptionDetailInFaults="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.runtime.serialization>
        <dataContractSerializer>
            <declaredTypes>
                <add type="CommonDomain.CommandBase, CommonDomain, Version=1.4.0.0, Culture=neutral">
                    <knownType type="Super.Administration.Commands.Impianto.CreateImpianto, Super.Administration.Commands, Version=1.0.0.0, Culture=neutral"/>
                    <knownType type="Super.Administration.Commands.Impianto.UpdateImpianto, Super.Administration.Commands, Version=1.0.0.0, Culture=neutral"/>
                    <knownType type="Super.Administration.Commands.Impianto.DeleteImpianto, Super.Administration.Commands, Version=1.0.0.0, Culture=neutral"/>
                    <knownType type="Super.Administration.Commands.Lotto.CreateLotto, Super.Administration.Commands, Version=1.0.0.0, Culture=neutral"/>
                    <knownType type="Super.Administration.Commands.Lotto.UpdateLotto, Super.Administration.Commands, Version=1.0.0.0, Culture=neutral"/>
                    <knownType type="Super.Administration.Commands.Lotto.DeleteLotto, Super.Administration.Commands, Version=1.0.0.0, Culture=neutral"/>
                </add>
            </declaredTypes>
        </dataContractSerializer>
    </system.runtime.serialization>
</configuration>
