
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body
{
    margin: 0;
    padding: 0;
    background: #F7F7F7 url(images/img01.jpg) repeat left top;
    font-family: Georgia, "Times New Roman" , Times, serif;
    font-size: 14px;
    color: #5A554E;
}

h1, h2, h3
{
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: #32639A;
    font-family: Georgia, "Times New Roman" , Times, serif;
}

h1
{
    font-size: 2em;
}

h2
{
    font-size: 2.4em;
}

h3
{
    font-size: 1.6em;
}

p, ul, ol
{
    margin-top: 0;
    line-height: 200%;
    font-family: "Trebuchet MS" , Georgia, "Times New Roman" , Times, serif;
}

ul, ol
{
    margin: 0px;
    padding: 0px;
    list-style: none;
}

a
{
    text-decoration: underline;
    color: #516C00;
}

a:hover
{
    text-decoration: none;
}

h2 a
{
    text-decoration: none;
}

#wrapper
{
    margin: 0px;
    padding: 0px;
    background: url(images/img02.jpg) repeat-x left top;
}

/* Header */

#header
{
    width: 1000px;
    height: 235px;
    margin: 0 auto;
    padding: 0px;
    background: url(images/img03.jpg) no-repeat left top;
}

/* Logo */

#logo
{
    float: left;
    margin: 0;
    padding: 115px 0px 0px 50px;
    color: #000000;
}

#logo h1, #logo p
{
    margin: 0;
    padding: 0;
    font-family: Georgia, "Times New Roman" , Times, serif;
}

#logo h1
{
    letter-spacing: -1px;
    text-transform: lowercase;
    font-size: 44px;
}

#logo h1 a
{
    color: #FFFFFF;
}

#logo p
{
    margin: -30px 0px 0px 0px;
    padding: 26px 0 0 2px;
    font: normal 19px Georgia, "Times New Roman" , Times, serif;
    color: #C5E8FF;
}

#logo a
{
    border: none;
    background: none;
    text-decoration: none;
    color: #C5E8FF;
}

/* Search */

#search
{
    float: right;
    width: 280px;
    height: 60px;
    padding: 20px 0px 0px 0px;
    background: #E2E2E2;
    border-bottom: 4px solid #FFFFFF;
}

#search form
{
    height: 41px;
    margin: 0;
    padding: 10px 0 0 20px;
}

#search fieldset
{
    margin: 0;
    padding: 0;
    border: none;
}

#search-text
{
    width: 170px;
    padding: 6px 5px 2px 5px;
    border: 1px solid #DEDEDE;
    background: #FFFFFF;
    text-transform: lowercase;
    font: normal 11px Arial, Helvetica, sans-serif;
    color: #5D781D;
}

#search-submit
{
    width: 50px;
    height: 22px;
    border: none;
    background: #B9B9B9;
    color: #000000;
}

#banner
{
    margin-bottom: 20px;
    border: 12px #ECECEC solid;
}

/* Menu */

#menu
{
    width: 1000px;
    height: 65px;
    margin: 0 auto;
    padding: 0;
    background: url(images/img04.jpg) no-repeat left top;
}

#menu ul
{
    float: right;
    margin: 0;
    padding: 0px 25px 0px 0px;
    list-style: none;
    line-height: normal;
}

#menu li
{
    float: left;
}

#menuProgrammazione 
{
    width: 150px !important;
}

#menu a
{
    display: block;
    width: 120px;
    height: 39px;
    margin-left: 10px;
    padding-top: 15px;
    background: url(images/img05.jpg) repeat-x left top;
    font-family: Georgia, "Times New Roman" , Times, serif;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    font-weight: normal;
    color: #FFFFFF;
    border: none;
}


#menu a:hover, #menu .current_page_item a
{
    text-decoration: none;
}

#menu .current_page_item a
{
    background: url(images/img06.jpg) no-repeat left top;
    padding-left: 0;
    color: #493E2B;
}

/* Page */

#page
{
    width: 900px;
    margin: 0px auto;
    padding: 40px 50px 0px 50px;
    background: #FFFFFF;
}

/* Content */

#content
{
    float: left;
    padding: 0px 0px 0px 0px;
    width: 900px;
}

.post
{
    margin-bottom: 15px;
}

.post-bgtop
{
}

.post-bgbtm
{
}

.post .title
{
    margin-bottom: 10px;
    padding: 12px 0 0 0px;
    letter-spacing: -.5px;
    font-size: 36px;
    color: #493E2B;
}

.post .title a
{
    color: #493E2B;
    border: none;
}

.post .meta
{
    margin: -10px 0px 0px 0px;
    padding: 0px 0px 10px 0px;
    letter-spacing: -1px;
    font-size: 23px;
    font-weight: normal;
    color: #6E8D3D;
    font-family: Georgia, "Times New Roman" , Times, serif;
}

.post .meta .date
{
    float: left;
}

.post .meta .posted
{
    float: right;
}

.post .meta a
{
}

.post .entry
{
    background: url(images/img08.jpg) no-repeat left top;
    padding: 25px 0px 0px 0px;
    text-align: justify;
}

.links
{
    padding-top: 20px;
}

.more
{
    padding-left: 16px;
    background: url(images/img10.gif) no-repeat left 3px;
    text-decoration: underline;
    font-size: 12px;
    font-weight: normal;
}

.comments
{
    padding-left: 18px;
    background: url(images/img11.gif) no-repeat left 4px;
    text-decoration: underline;
    font-size: 12px;
    font-weight: normal;
}


/* Sidebar */

#sidebar
{
    float: right;
    width: 273px;
    padding: 0px;
    color: #787878;
}

#sidebar ul
{
    margin: 0;
    padding: 0;
    list-style: none;
}

#sidebar li
{
    margin: 0;
    padding: 0;
}

#sidebar li ul
{
    margin: 0px 0px;
    padding-bottom: 20px;
}

#sidebar li li
{
    line-height: 35px;
    margin: 0px;
    padding: 2px 0px;
    border-left: none;
}

#sidebar li li span
{
    height: 19px;
    margin-right: 16px;
    padding: 4px 12px;
    background: #3D2A0B url(images/img12.jpg) repeat-x left top;
    font-size: 12px;
    color: #FFFFFF;
}

#sidebar li li span a
{
    color: #FFFFFF;
}

#sidebar h2
{
    height: 65px;
    background: url(images/img09.jpg) no-repeat left bottom;
    letter-spacing: -.5px;
    font-size: 28px;
    color: #493E2B;
}

#sidebar p
{
    margin: 0 0px;
    padding: 0px 0px 30px 0px;
    text-align: justify;
}

#sidebar p strong
{
    color: #4A3E29;
}

#sidebar a
{
    border: none;
}

#sidebar a:hover
{
}

/* Calendar */

#calendar
{
}

#calendar_wrap
{
    padding: 20px;
}

#calendar table
{
    width: 100%;
}

#calendar tbody td
{
    text-align: center;
}

#calendar #next
{
    text-align: right;
}

/* Footer */

#footer-content
{
    width: 900px;
    height: 255px;
    margin: 0 auto;
    padding: 60px 50px 0px 50px;
    background: url(images/img15.jpg) no-repeat left top;
    font-size: 12px;
    color: #887450;
}

#footer-content .column1
{
    float: left;
    width: 570px;
}

#footer-content .column2
{
    float: right;
    width: 273px;
}

#footer-content h2
{
    padding-bottom: 10px;
    font-size: 22px;
    color: #E3D2B6;
}

#footer-content strong
{
    color: #E3D2B6;
}

#footer-content a
{
    color: #AA8B55;
}

#footer-content a:hover
{
    color: #AA8B55;
}

.list li
{
    margin-bottom: 6px;
}

#footer
{
    height: 50px;
    margin: 0 auto;
    padding: 0px 0 15px 0;
    font-family: Arial, Helvetica, sans-serif;
}

#footer p
{
    margin: 0;
    line-height: normal;
    font-size: 12px;
    text-align: center;
    color: #82A2B9;
}

#footer a
{
    text-decoration: underline;
    color: #82A2B9;
}


/* BEGIN PageBar */

.pagebar
{
    font-size: 0.8em;
    padding: 0.2em 0.5em;
    margin-right: 0.1em;
    border: 1px solid #FFF;
    background: #FFF;
    text-decoration: none;
    text-align: center;
}
.pagebar a, .pageList .this-page
{
    border: 1px solid #E3E3E3;
    text-decoration: none;
    padding: 0.2em 0.5em;
}
.pagebar a:hover
{
    border-color: #693;
}
.pagebar a:visited
{
    border: 1px solid #E3E3E3;
    text-decoration: none;
    padding: 0.2em 0.5em;
}
.pagebar .break
{
    padding: 2px 6px;
    border: none;
    background: #FFF;
    text-decoration: none;
}
.pagebar .this-page
{
    border: 1px solid #693;
    padding: 0.2em 0.5em;
    font-weight: bold;
    background: #693;
    color: #FFF;
}

/* END PageBar */


/* TABLE standard*/
.table-standard
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
}

.table-standard td, .table-standard th
{
    font-size: 1em;
    border: 1px solid #98bf21;
    padding: 3px 7px 2px 7px;
    text-align: center;
}

.table-standard th
{
    font-size: 1.2em;
    text-align: left;
    padding-top: 5px;
    padding-bottom: 4px;
    background-color: #A7C942;
    color: #fff;
    text-align: center;
}

.table-standard tr.alt td
{
    color: #000;
    background-color: #EAF2D3;
}

/* End Table */


/* formFilter */

.formFilter
{
    font-family: "Trebuchet MS" , Arial, Helvetica, sans-serif;
    width: 100%;
    border-collapse: collapse;
    font-size: 1em;
    padding-top: 5px;
    padding-bottom: 4px;
}

.formFilter label
{
    padding-left: 25px;
    padding-right: 25px;
}

.formFilter label
{
    padding-left: 15px;
}


/* end of formFilter */


/* Please Wait message */

#loading
{
	background: url(../../../Images/ajax-loader.gif) no-repeat 5px 8px;
	padding-left: 55px;
	padding-top : 25px;
}

/* end of Please Wait message */

/* Buttons */


a.button {
/* background colors */
  background-color: #79affb;
  background-image: -webkit-gradient(linear, left top, left bottom,   from(#79affb),to(#2b8df9));
  background-image: -webkit-linear-gradient(top, #79affb, #2b8df9);
  background-image: -moz-linear-gradient(top, #79affb, #2b8df9);
  background-image: -o-linear-gradient(top, #79affb, #2b8df9);
  background-image: -ms-linear-gradient(top, #79affb, #2b8df9);
  background-image: linear-gradient(top, #79affb, #2b8df9);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#79affb', EndColorStr='#2b8df9');

/* Border Radius */
  -moz-border-radius: 15px;
  -webkit-border-radius: 15;
  border-radius: 15px;

/* Width of button */
  width: 100px ;

/* Font style of button */
  color: white;
  font-size: 10px;
  font-family: ‘Trebuchet MS’, Helvetica, sans-serif;
  text-align: center;
  font-weight: normal;
  line-height: 10px;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  padding: 5px 0px;
}

a:hover.button {
  background-color: #6fa0e7;
  background-image: -webkit-gradient(linear, left top, left bottom,  from(#6fa0e7),to(#237fe4));
  background-image: -webkit-linear-gradient(top, #6fa0e7, #237fe4);
  background-image: -moz-linear-gradient(top, #6fa0e7, #237fe4);
  background-image: -o-linear-gradient(top, #6fa0e7, #237fe4);
  background-image: -ms-linear-gradient(top, #6fa0e7, #237fe4);
  background-image: linear-gradient(top, #6fa0e7, #237fe4);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#6fa0e7',   EndColorStr='#237fe4');

}

a:active.button {
  background-color: #237fe4;
  background-image: -webkit-gradient(linear, left top, left bottom,   from(#237fe4),to(#6fa0e7));
  background-image: -webkit-linear-gradient(top, #237fe4, #6fa0e7);
  background-image: -moz-linear-gradient(top, #237fe4, #6fa0e7);
  background-image: -o-linear-gradient(top, #237fe4, #6fa0e7);
  background-image: -ms-linear-gradient(top, #237fe4, #6fa0e7);
  background-image: linear-gradient(top, #237fe4, #6fa0e7);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorStr='#237fe4',         EndColorStr='#6fa0e7');
}


/* End of Buttons */