<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <!--<add name="EventStore" connectionString="mongodb://localhost/eventStore"/>-->
        <add name="EventStore"  providerName="System.Data.SqlClient" connectionString="Data Source=SAKAMAIN\SQLEXPRESS;Initial Catalog=Super2013.Programmazione.EventStore;Persist Security Info=True;User ID=sa;Password=yogolo49"></add>
        <add name="Super2013.Programmazione.ReadStore" connectionString="metadata=res://*/Contabilita.csdl|res://*/Contabilita.ssdl|res://*/Contabilita.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=SAKAMAIN\SQLEXPRESS;initial catalog=Super2013.Contabilita.ReadStore;persist security info=True;user id=sa;password=yogolo49;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>



    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings/>
        <services>

            <service name="CommandService.CommandWebService" >
                <host>
                    <baseAddresses>
                        <add baseAddress="http://localhost:1338/Programmazione"/>
                    </baseAddresses>
                </host>
                <endpoint address=""
                          binding="basicHttpBinding"
                          contract="CommandService.ICommandWebService"/>
                <endpoint address="mex"
                    binding="mexHttpBinding"
                    contract="IMetadataExchange" />
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior>
                    <serviceMetadata httpGetEnabled="True"/>
                    <serviceDebug includeExceptionDetailInFaults="False" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <system.runtime.serialization>
        <dataContractSerializer>
            <declaredTypes>
                <add type="CommonDomain.Message, CommonDomain, Version=1.4.0.0, Culture=neutral">
                    <knownType type="Super.Programmazione.Commands.AllowControlIntervento, Super.Appaltatore.Commands, Version=1.0.0.0, Culture=neutral"/>
                    <knownType type="Super.Programmazione.Commands.CloseIntervento, Super.Appaltatore.Commands, Version=1.0.0.0, Culture=neutral"/>
                    <knownType type="Super.Programmazione.Commands.ControlInterventoNonReso, Super.Appaltatore.Commands, Version=1.0.0.0, Culture=neutral"/>

                    <knownType type="Super.Programmazione.Commands.ControlInterventoRotReso, Super.Appaltatore.Commands, Version=1.0.0.0, Culture=neutral"/>
                    <knownType type="Super.Programmazione.Commands.ControlInterventoRotManReso, Super.Appaltatore.Commands, Version=1.0.0.0, Culture=neutral"/>
                    <knownType type="Super.Programmazione.Commands.ControlInterventoAmbReso, Super.Appaltatore.Commands, Version=1.0.0.0, Culture=neutral"/>

                    <knownType type="Super.Appaltatore.Commands.ReopenIntervento, Super.Appaltatore.Commands, Version=1.0.0.0, Culture=neutral"/>
                </add>
            </declaredTypes>
        </dataContractSerializer>
    </system.runtime.serialization>

</configuration>
