<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <!--<add name="ReadModelContainer" connectionString="metadata=res://*/ReadModel.csdl|res://*/ReadModel.ssdl|res://*/ReadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=MERCURIO\SQLSERVER2008;Initial Catalog=MyNotesReadModel;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />-->
        <add name="ReadModelContainer" connectionString="metadata=res://*/ReadModel.csdl|res://*/ReadModel.ssdl|res://*/ReadModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=BIGORNEAU\SQLEXPRESS;Initial Catalog=MyNotesReadModel;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    </connectionStrings>
    <appSettings>
        <!--PEC-->
        <add key="ImapServer" value="imaps.cert.trenitalia.it" />
        <add key="SmtpServer" value="62.149.152.18" />
        <add key="PasswordSmtpPassword" value="Novembre2010" />
        <add key="SmtpServerUser" value="super.testti@cert.trenitalia.it" />
        <add key="AppaltatoriCancellaMessaggi" value="true" />
        <add key="IsTraceEnabled" value="false" />
    </appSettings>

    <system.serviceModel>
        <bindings/>
        <services>
            <service name="Ncqrs.CommandService.CommandWebService" behaviorConfiguration="withMetadataAndDebugging">
                <endpoint address="http://localhost:1338/CommandService"
                          binding="basicHttpBinding"
                          bindingNamespace="http://ncqrs.org/services/2010/12/"
                          contract="Ncqrs.CommandService.Contracts.ICommandWebService"/>
                <endpoint address="http://localhost:1338/CommandService/mex"
                          binding="mexHttpBinding"
                          contract="IMetadataExchange"/>
            </service>
        </services>
        <behaviors>
            <serviceBehaviors>
                <behavior name="withMetadataAndDebugging">
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                    <serviceMetadata httpGetEnabled="false"/>
                </behavior>
            </serviceBehaviors>
        </behaviors>
    </system.serviceModel>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

    
</configuration>
