<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <!--<add name="EventStore" connectionString="mongodb://localhost/eventStore"/>-->
      <add name="EventStore"  providerName="System.Data.SqlClient" connectionString="Data Source=MERCURIO\SQLSERVER2008;Initial Catalog=Super2013.Saga.EventStore;Persist Security Info=True;User ID=sa;Password=yogolo49"></add>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
